pipeline/pl_BlobFilesToDb1.json
{
	"name": "pl_BlobFilesToDb1",
	"properties": {
		"activities": [
			{
				"name": "Cleanup DB",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMIG",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DECLARE @sql NVARCHAR(max)=''\nSELECT @sql += 'DROP TABLE ' + '[' + TABLE_SCHEMA + '].[' + TABLE_NAME + ']' FROM INFORMATION_SCHEMA.TABLES \nWHERE TABLE_SCHEMA = 'Aria_Archive_1' \nExec Sp_executesql @sql\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Get Folders Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Cleanup DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_main_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach - loop through folders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter - foldername",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Folders Metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Execute Pipeline- load table",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_BlobFilesToDb2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ExtractionDate": {
										"value": "@pipeline().parameters.ExtractionDate",
										"type": "Expression"
									},
									"FolderName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter - foldername",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Folders Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Folders Metadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,pipeline().parameters.FilterFolderName)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ExtractionDate": {
				"type": "string",
				"defaultValue": "20231029"
			},
			"FilterFolderName": {
				"type": "string",
				"defaultValue": "raw-acct-dunning-group"
			}
		},
		"annotations": []
	}
}