pipeline/pl_BlobFilesToDb2.json
{
	"name": "pl_BlobFilesToDb2",
	"properties": {
		"activities": [
			{
				"name": "Get Files Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_main_folder_subfolders",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@pipeline().parameters.FolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach - load file from ExtractionDate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter by ExtractionDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter by ExtractionDate').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data - load file from ExtractionDate",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "filename",
											"value": {
												"value": "@item().name ",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_main_folder_subfolders_files",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@pipeline().parameters.FolderName",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name ",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_mig_stg_db",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@replace(replace(item().name,concat('90500012_',pipeline().parameters.ExtractionDate,'_'),''),'.csv' ,'' )",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Filter by ExtractionDate",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Files Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files Metadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,pipeline().parameters.ExtractionDate)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ExtractionDate": {
				"type": "string",
				"defaultValue": "20231029"
			},
			"FolderName": {
				"type": "string",
				"defaultValue": "falck-migration/falck-migration-reporting-raw/raw-acct-dunning-group"
			}
		},
		"annotations": []
	}
}