pipeline/pl_SF_objects_def_extract.json
{
	"name": "pl_SF_objects_def_extract",
	"properties": {
		"description": "Copy huge amount of data in bulk from database using external control table to store source table list with partitions for each table.\n\nWhen you want to migrate data from your Azure Synapse Analytics like Oracle server, Netezza server, Teradata server or SQL Server to Azure, you have to load huge amount of data from multiple tables in data sources. In most cases, data has to be further partitioned in each table so that you can load rows with multiple threads in parallel from single table.",
		"activities": [
			{
				"name": "Copy EntityDefintion to STG DB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select  DurableId, DeveloperName, MasterLabel, Label, IsCustomizable, IsCustomSetting, IsDeprecatedAndHidden, IsQueryable, IsIdEnabled from EntityDefinition",
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "drop  table if exists [SF_Archive].EntityDefinition",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "LegSalesforceObject",
						"type": "DatasetReference",
						"parameters": {
							"SFObjectName": {
								"value": "EntityDefinition",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sink_mig_stg_db",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "EntityDefinition",
								"type": "Expression"
							},
							"SchemaName": "SF_archive"
						}
					}
				]
			},
			{
				"name": "GetObjectList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy EntityDefintion to STG DB",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Drop table FieldDefinition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DurableId\n  FROM [SF_Archive].[EntityDefinition]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabaseDataSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach SF Object",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetObjectList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetObjectList').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy to STG DB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": "SELECT Id, DurableId, QualifiedApiName, EntityDefinitionId, NamespacePrefix, DeveloperName, MasterLabel, Label, Length, DataType, ServiceDataTypeId, ValueTypeId, ExtraTypeInfo, IsCalculated, \r\nIsHighScaleNumber, IsHtmlFormatted, IsNameField, IsNillable, IsWorkflowFilterable, IsCompactLayoutable, Precision, Scale, IsFieldHistoryTracked, IsIndexed, IsApiFilterable, IsApiSortable,\r\n IsListFilterable, IsListSortable, IsApiGroupable, IsListVisible, ControllingFieldDefinitionId, LastModifiedDate, LastModifiedById, PublisherId, RunningUserFieldAccessId, RelationshipName,\r\n  ReferenceTo, ReferenceTargetField, IsCompound, IsSearchPrefilterable, IsPolymorphicForeignKey, IsAiPredictionField, BusinessOwnerId, BusinessStatus, SecurityClassification, ComplianceGroup, Description\r\n   FROM FieldDefinition WHERE EntityDefinition.QualifiedApiName = 'item().DurableId' \r\n",
									"readBehavior": "query"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LegSalesforceObject",
									"type": "DatasetReference",
									"parameters": {
										"SFObjectName": {
											"value": "@item().DurableId",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_mig_stg_db",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().DurableId",
											"type": "Expression"
										},
										"SchemaName": "SF_archive"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Drop table FieldDefinition",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMIG",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "drop  table if exists [SF_Archive].FieldDefinition "
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"drop-table": {
				"type": "String"
			}
		},
		"folder": {
			"name": "3. pl - salesforce settings"
		},
		"annotations": []
	}
}