pipeline/pl_salesforce_sql_load.json
{
	"name": "pl_salesforce_sql_load",
	"properties": {
		"description": "to load to SF based on sql stored in mig_objects_list table",
		"activities": [
			{
				"name": "GetObjectList",
				"description": "Lookup activity to retrieve the list of partitions stored in the external control table.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [objectname],[label]\nFROM [Audit].[mig_objects_list]\nWHERE sql is not null and enabled=1 and load =1 and objectname in ('Account')  and label in ('Account_Person')\nORDER BY order_position  asc",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sink_mig_stg_db",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "x",
							"SchemaName": "x"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachObject",
				"description": "ForEach activity to get the partition list from Lookup activity and then iterate each of them to Copy activity. ",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetObjectList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetObjectList').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Salesforce - CopyOneObject",
							"description": "Copy activity to copy one object",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[SF_Archive].[proc_sf_sql_extract]",
									"storedProcedureParameters": {
										"ObjectName": {
											"type": "String",
											"value": {
												"value": "@item().objectname",
												"type": "Expression"
											}
										},
										"Label": {
											"type": "String",
											"value": {
												"value": "@item().label",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SalesforceSink",
									"writeBatchSize": 5000,
									"writeBehavior": "insert"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sink_mig_stg_db",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().objectname",
											"type": "Expression"
										},
										"SchemaName": "SF_Archive"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "TarSalesforceObject",
									"type": "DatasetReference",
									"parameters": {
										"SFObjectName": {
											"value": "@item().objectname",
											"type": "Expression"
										},
										"SFLinkedServiceURL": {
											"value": "@pipeline().parameters.URL",
											"type": "Expression"
										},
										"SFLinkedServiceUserName": {
											"value": "@pipeline().parameters.UserName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "If Account Person - run MigMapIDs",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Salesforce - CopyOneObject",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().label,'Account_Person')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Map Account ID",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_SF_extract_load_mig_mapIDs",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"URL": {
				"type": "string",
				"defaultValue": "https://falck-smp--test.sandbox.my.salesforce.com/"
			},
			"UserName": {
				"type": "string",
				"defaultValue": "azure.integration@falck.com.smp.test"
			}
		},
		"folder": {
			"name": "4. pl - salesforce load"
		},
		"annotations": []
	}
}