pipeline/pp_load_to_DB.json
{
	"name": "pp_load_to_DB",
	"properties": {
		"description": "Load to staging DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_aria_all_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().type, '20231029')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceStore_Location": {
				"type": "String"
			},
			"SourceStore_Directory": {
				"type": "String"
			},
			"DestinationStore_Location": {
				"type": "String"
			},
			"DestinationStore_Directory": {
				"type": "String"
			}
		},
		"annotations": []
	}
}