adf-smp-sandbox-weu-002/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-smp-sandbox-weu-002"
		},
		"AmazonS31_secretAccessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'secretAccessKey' of 'AmazonS31'"
		},
		"AzureBatch1_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatch1'"
		},
		"AzureBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage'"
		},
		"AzureSqlDatabaseMIG_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabaseMIG'"
		},
		"Leg_SalesforceTEST_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Leg_SalesforceTEST'"
		},
		"Leg_SalesforceTEST_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'Leg_SalesforceTEST'"
		},
		"Tar_SalesforceTEST_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Tar_SalesforceTEST'"
		},
		"Tar_SalesforceTEST_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'Tar_SalesforceTEST'"
		},
		"AmazonS31_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "AKIAXQJG6VWN7GODEQ5S"
		},
		"AzureBatch1_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://migdevelopment.westeurope.batch.azure.com"
		},
		"AzureBatch1_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "MIG"
		},
		"AzureBatch1_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "migdevelopment"
		},
		"Leg_SalesforceTEST_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://falckcrm--pacmtest.sandbox.my.salesforce.com"
		},
		"Leg_SalesforceTEST_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "azuredatafactory@falck.com.pacmtest"
		},
		"Tar_SalesforceTEST_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "@{linkedService().URL}"
		},
		"Tar_SalesforceTEST_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "@{linkedService().UserName}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_BlobFilesToDb1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cleanup DB - drop Aria tables",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DECLARE @sql NVARCHAR(max)=''\nSELECT @sql += 'DROP TABLE ' + '[' + TABLE_SCHEMA + '].[' + TABLE_NAME + ']' FROM INFORMATION_SCHEMA.TABLES \nWHERE TABLE_SCHEMA = 'Aria_Archive_1' \nExec Sp_executesql @sql\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Get Folders Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Cleanup DB - drop Aria tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_source_main_folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach - loop through folders",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter - foldername",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter - foldername').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 40,
							"activities": [
								{
									"name": "Execute Pipeline- load table",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_BlobFilesToDb2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ExtractionDate": {
												"value": "@pipeline().parameters.ExtractionDate",
												"type": "Expression"
											},
											"FolderName": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter - foldername",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Folders Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Folders Metadata').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,pipeline().parameters.FilterFolderName)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ExtractionDate": {
						"type": "string",
						"defaultValue": "20231203"
					},
					"FilterFolderName": {
						"type": "string",
						"defaultValue": "raw-acct-dunning-group"
					}
				},
				"folder": {
					"name": "2. pl - load Aria CSV to Staging DB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseMIG')]",
				"[concat(variables('factoryId'), '/datasets/ds_source_main_folder')]",
				"[concat(variables('factoryId'), '/pipelines/pl_BlobFilesToDb2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_BlobFilesToDb2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Files Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_source_main_folder_subfolders",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "@pipeline().parameters.FolderName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach - load file from ExtractionDate",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter by ExtractionDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter by ExtractionDate').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "Copy data - load file from ExtractionDate",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "filename",
													"value": {
														"value": "@item().name ",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": true,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_source_main_folder_subfolders_files",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "@pipeline().parameters.FolderName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@item().name ",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_mig_stg_db",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@replace(replace(item().name,concat('90500012_',pipeline().parameters.ExtractionDate,'_'),''),'.csv' ,'' )",
													"type": "Expression"
												},
												"SchemaName": "Aria_archive_1"
											}
										}
									]
								},
								{
									"name": "Stored procedure - audit",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data - load file from ExtractionDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Audit].[mig_recon_stg_db_load_proc]",
										"storedProcedureParameters": {
											"copyduration": {
												"value": {
													"value": "@activity('Copy data - load file from ExtractionDate').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"filename": {
												"value": {
													"value": "@item().name ",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"rowscopied": {
												"value": {
													"value": "@activity('Copy data - load file from ExtractionDate').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"rowsread": {
												"value": {
													"value": "@activity('Copy data - load file from ExtractionDate').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"metric": {
												"value": {
													"value": "CSV->DB",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabaseMIG",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Filter by ExtractionDate",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Files Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Files Metadata').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,pipeline().parameters.ExtractionDate)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ExtractionDate": {
						"type": "string"
					},
					"FolderName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "2. pl - load Aria CSV to Staging DB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_main_folder_subfolders')]",
				"[concat(variables('factoryId'), '/datasets/ds_source_main_folder_subfolders_files')]",
				"[concat(variables('factoryId'), '/datasets/sink_mig_stg_db')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseMIG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_SF_custom_extract_load_StgDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy huge amount of data in bulk from database using external control table to store source table list with partitions for each table.\n\nWhen you want to migrate data from your Azure Synapse Analytics like Oracle server, Netezza server, Teradata server or SQL Server to Azure, you have to load huge amount of data from multiple tables in data sources. In most cases, data has to be further partitioned in each table so that you can load rows with multiple threads in parallel from single table.",
				"activities": [
					{
						"name": "GetObjectList",
						"description": "Lookup activity to retrieve the list of partitions stored in the external control table.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [objectname]\n  FROM [Audit].[mig_file_load]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sink_mig_stg_db",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "x",
									"SchemaName": "x"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For - loop files",
						"description": "ForEach activity to get the partition list from Lookup activity and then iterate each of them to Copy activity. ",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetObjectList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetObjectList').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "Copy to STG DB",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_source_custom_folder_subfolders_files_copy1",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "@pipeline().parameters.FolderName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@item().objectname",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_mig_stg_db",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@replace(item().objectname,'.csv' ,'' )",
													"type": "Expression"
												},
												"SchemaName": "SF_archive"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "sslfalck_sfdc_plan-20231203-220624.csv"
					}
				},
				"variables": {
					"drop-table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "3. pl - salesforce extract"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sink_mig_stg_db')]",
				"[concat(variables('factoryId'), '/datasets/ds_source_custom_folder_subfolders_files_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_SF_extract_load_StgDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy huge amount of data in bulk from database using external control table to store source table list with partitions for each table.\n\nWhen you want to migrate data from your Azure Synapse Analytics like Oracle server, Netezza server, Teradata server or SQL Server to Azure, you have to load huge amount of data from multiple tables in data sources. In most cases, data has to be further partitioned in each table so that you can load rows with multiple threads in parallel from single table.",
				"activities": [
					{
						"name": "GetObjectList",
						"description": "Lookup activity to retrieve the list of partitions stored in the external control table.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [objectname]\n  FROM [Audit].[mig_objects_list]\n  WHERE enabled=1 and extract=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sink_mig_stg_db",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "x",
									"SchemaName": "x"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachObject",
						"description": "Extract and load to STG DB",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetObjectList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetObjectList').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "Salesforce - CopyOneObject",
									"description": "Copy activity to copy one object",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"readBehavior": "query"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "LegSalesforceObject",
											"type": "DatasetReference",
											"parameters": {
												"SFObjectName": {
													"value": "@item().objectname",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_salesforce_extract_csv",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Copy to STG DB",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"readBehavior": "query"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "drop  table if exists [SF_Archive].@{item().objectname}",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "LegSalesforceObject",
											"type": "DatasetReference",
											"parameters": {
												"SFObjectName": {
													"value": "@item().objectname",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_mig_stg_db",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().objectname",
													"type": "Expression"
												},
												"SchemaName": "SF_archive"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"drop-table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "3. pl - salesforce extract"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sink_mig_stg_db')]",
				"[concat(variables('factoryId'), '/datasets/LegSalesforceObject')]",
				"[concat(variables('factoryId'), '/datasets/ds_salesforce_extract_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_SF_extract_load_mig_mapIDs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy huge amount of data in bulk from database using external control table to store source table list with partitions for each table.\n\nWhen you want to migrate data from your Azure Synapse Analytics like Oracle server, Netezza server, Teradata server or SQL Server to Azure, you have to load huge amount of data from multiple tables in data sources. In most cases, data has to be further partitioned in each table so that you can load rows with multiple threads in parallel from single table.",
				"activities": [
					{
						"name": "Account - map IDs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"additionalColumns": [
									{
										"name": "objectname",
										"value": "Account"
									}
								],
								"query": "select Id, LegacyId__c,PersonContactId from Account where LegacyId__c != null",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "delete from [Audit].[mig_mapIDs] where [objectname]='Account';",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TarSalesforceObject",
								"type": "DatasetReference",
								"parameters": {
									"SFObjectName": "Account ",
									"SFLinkedServiceURL": {
										"value": "@pipeline().parameters.URL",
										"type": "Expression"
									},
									"SFLinkedServiceUserName": {
										"value": "@pipeline().parameters.UserName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "sink_mig_stg_db",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "mig_mapIDs",
										"type": "Expression"
									},
									"SchemaName": "Audit"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"URL": {
						"type": "string",
						"defaultValue": "https://falck-smp--test.sandbox.my.salesforce.com/"
					},
					"UserName": {
						"type": "string",
						"defaultValue": "azure.integration@falck.com.smp.test"
					}
				},
				"variables": {
					"drop-table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "3. pl - salesforce extract"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/TarSalesforceObject')]",
				"[concat(variables('factoryId'), '/datasets/sink_mig_stg_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_SF_objects_def_extract_load_StgDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy huge amount of data in bulk from database using external control table to store source table list with partitions for each table.\n\nWhen you want to migrate data from your Azure Synapse Analytics like Oracle server, Netezza server, Teradata server or SQL Server to Azure, you have to load huge amount of data from multiple tables in data sources. In most cases, data has to be further partitioned in each table so that you can load rows with multiple threads in parallel from single table.",
				"activities": [
					{
						"name": "Copy EntityDefintion to STG DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select  DurableId, DeveloperName, MasterLabel, Label, IsCustomizable, IsCustomSetting, IsDeprecatedAndHidden, IsQueryable, IsIdEnabled from EntityDefinition",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "drop  table if exists [SF_Archive].EntityDefinition",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LegSalesforceObject",
								"type": "DatasetReference",
								"parameters": {
									"SFObjectName": {
										"value": "EntityDefinition",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "sink_mig_stg_db",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "EntityDefinition",
										"type": "Expression"
									},
									"SchemaName": "SF_archive"
								}
							}
						]
					},
					{
						"name": "GetObjectList",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy EntityDefintion to STG DB",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Drop table FieldDefinitionSRC",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Drop table FieldDefinitionTAR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [DurableId]\nFROM [SF_Archive].[EntityDefinition]\nWHERE DurableId in ('A''Lead'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sink_mig_stg_db",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "x",
									"SchemaName": "x"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach SF Object",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetObjectList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetObjectList').output.value",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "Copy FieldDefinitionSRC - STG DB",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"query": {
												"value": "SELECT Id, DurableId, QualifiedApiName, EntityDefinitionId, NamespacePrefix, DeveloperName, MasterLabel, Label, Length, DataType, ServiceDataTypeId, \nValueTypeId, ExtraTypeInfo, IsCalculated, \nIsHighScaleNumber, IsHtmlFormatted, IsNameField, IsNillable, IsWorkflowFilterable, IsCompactLayoutable, Precision, Scale, IsFieldHistoryTracked,\n IsIndexed, IsApiFilterable, IsApiSortable,\n IsListFilterable, IsListSortable, IsApiGroupable, IsListVisible, ControllingFieldDefinitionId, LastModifiedDate, LastModifiedById, PublisherId,\n RunningUserFieldAccessId, RelationshipName, ReferenceTargetField, Description\n   FROM FieldDefinition WHERE EntityDefinitionId = '@{item().DurableId}'",
												"type": "Expression"
											},
											"readBehavior": "query"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "LegSalesforceObject",
											"type": "DatasetReference",
											"parameters": {
												"SFObjectName": {
													"value": "@item().DurableId",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_mig_stg_db",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "FieldDefinitionSRC",
													"type": "Expression"
												},
												"SchemaName": "SF_archive"
											}
										}
									]
								},
								{
									"name": "Copy FieldDefinitionTAR - STG DB",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"query": {
												"value": "SELECT Id, DurableId, QualifiedApiName, EntityDefinitionId, NamespacePrefix, DeveloperName, MasterLabel, Label, Length, DataType, ServiceDataTypeId, \nValueTypeId, ExtraTypeInfo, IsCalculated, \nIsHighScaleNumber, IsHtmlFormatted, IsNameField, IsNillable, IsWorkflowFilterable, IsCompactLayoutable, Precision, Scale, IsFieldHistoryTracked,\n IsIndexed, IsApiFilterable, IsApiSortable,\n IsListFilterable, IsListSortable, IsApiGroupable, IsListVisible, ControllingFieldDefinitionId, LastModifiedDate, LastModifiedById, PublisherId,\n RunningUserFieldAccessId, RelationshipName, ReferenceTargetField, Description\n   FROM FieldDefinition WHERE EntityDefinitionId = '@{item().DurableId}'",
												"type": "Expression"
											},
											"readBehavior": "query"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "TarSalesforceObject",
											"type": "DatasetReference",
											"parameters": {
												"SFObjectName": {
													"value": "@item().DurableId",
													"type": "Expression"
												},
												"SFLinkedServiceURL": {
													"value": "@pipeline().parameters.URL",
													"type": "Expression"
												},
												"SFLinkedServiceUserName": {
													"value": "@pipeline().parameters.UserName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_mig_stg_db",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "FieldDefinitionTAR",
													"type": "Expression"
												},
												"SchemaName": "SF_archive"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Drop table FieldDefinitionSRC",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "drop  table if exists [SF_Archive].FieldDefinitionSRC"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Drop table FieldDefinitionTAR",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "drop  table if exists [SF_Archive].FieldDefinitionTAR"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"URL": {
						"type": "string",
						"defaultValue": "https://falck-smp--test.sandbox.my.salesforce.com/"
					},
					"UserName": {
						"type": "string",
						"defaultValue": "azure.integration@falck.com.smp.test"
					}
				},
				"variables": {
					"drop-table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "3. pl - salesforce extract"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LegSalesforceObject')]",
				"[concat(variables('factoryId'), '/datasets/sink_mig_stg_db')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseMIG')]",
				"[concat(variables('factoryId'), '/datasets/TarSalesforceObject')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_from_aws')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy ALL from AWS",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_source_aws_s3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_aria_all_folder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "1. pl -  copy from AWS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_aws_s3')]",
				"[concat(variables('factoryId'), '/datasets/ds_aria_all_folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_initialization_ARIA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AR - Cleanup DB - drop Aria tables",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DECLARE @sql NVARCHAR(max)=''\nSELECT @sql += 'DROP TABLE ' + '[' + TABLE_SCHEMA + '].[' + TABLE_NAME + ']' FROM INFORMATION_SCHEMA.TABLES \nWHERE TABLE_SCHEMA = 'Aria_Archive_1' \nExec Sp_executesql @sql\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "0. pl - Initialization"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseMIG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_initialization_GEN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Create audit procedure",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Create audit table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "CREATE OR ALTER PROCEDURE Audit.mig_recon_stg_db_load_proc\n    @pipeline varchar(1000),\n    @filename varchar(1000),\n    @rowsread INT,\n    @rowscopied INT,\n    @copyduration INT,\n    @metric varchar(1000)\nAS\nBEGIN\n    insert into Audit.mig_recon_stg_db_load (pipeline, filename, rowsread, rowscopied, copyduration, metric) values (@pipeline,@filename, @rowsread, @rowscopied, @copyduration, @metric )\nEND;\n\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Create audit table",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "DROP TABLE IF EXISTS Audit.mig_recon_stg_db_load;\nCREATE TABLE Audit.mig_recon_stg_db_load(\n    id int identity(1,1),\n    pipeline varchar(1000),\n    filename varchar(1000),\n    rowsread int,\n    rowscopied int,\n    copyduration int,\n    comment varchar(1000),\n    metric varchar(1000),\n    insert_datetime datetime default GETDATE()\n);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "0. pl - Initialization"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseMIG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_initialization_SF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF - Create ColsWithoutSystemCols procedure",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "CREATE OR ALTER PROCEDURE [SF_Archive].[ColsWithoutSystemCols]\n    @TableName varchar(max)\nAS\nBEGIN\n\tdeclare @cols varchar(max), @query varchar(max);\n\tSELECT  @cols = STUFF\n    (\n        ( \n            SELECT DISTINCT '], [' + name\n            FROM sys.columns\n            where object_id = (\n                select top 1 object_id from sys.objects\n                where name = @TableName \n            )\n            and name not in ('Id', 'IsDeleted', 'SetupOwnerId', 'CreatedById','LastModifiedById','SystemModstamp')\n            FOR XML PATH('')\n        ), 1, 2, ''\n    ) + ']';\nSELECT @query = 'select ' + @cols + ' from [SF_Archive].' + '[' + @TableName + '] where IsDeleted = 0';\nEXEC (@query);\nEND;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SF - Create mig_object_list table",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "DROP TABLE IF EXISTS [Audit].[mig_objects_list];\nCREATE TABLE [Audit].[mig_objects_list] (\n    id int identity(1,1),\n    objectname varchar(1000),\n    systemname varchar(1000),\n    category varchar(1000),\n    sql text,\n    enabled int,\n    order_position int,\n    extract int,\n    load int,\n    insert_datetime datetime default GETDATE()\n);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SF - simple MIG_OBJECTS",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "SF - Create mig_object_list table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "insert into [Audit].[mig_objects_list] (objectname , systemname , category, sql, enabled, order_position,extract, load) values ('AzureSBConfiguration__c','Salesforce','Salesforce settings',null,1,0,1,1);\ninsert into [Audit].[mig_objects_list] (objectname , systemname , category, sql, enabled, order_position,extract, load) values ('PKB__c','Salesforce','Salesforce settings',null,1,0,1,1);\ninsert into [Audit].[mig_objects_list] (objectname , systemname , category, sql, enabled, order_position,extract, load) values ('pkb_ka__c','Salesforce','Salesforce settings',null,1,0,1,1);\ninsert into [Audit].[mig_objects_list] (objectname , systemname , category, sql, enabled, order_position,extract, load) values ('Quote_Setup__c','Salesforce','Salesforce settings',null,1,0,1,1);\ninsert into [Audit].[mig_objects_list] (objectname , systemname , category, sql, enabled, order_position,extract, load) values ('FieldDefinition','Salesforce','Salesforce settings',null,1,0,0,0);\ninsert into [Audit].[mig_objects_list] (objectname , systemname , category, sql, enabled, order_position,extract, load) values ('EntityDefinition','Salesforce','Salesforce settings',null,1,0,0,0);\n\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SF - standard MIG_OBJECTS",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "SF - simple MIG_OBJECTS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "\n--- Lead\ninsert into [Audit].[mig_objects_list] (objectname , systemname , category, sql, enabled, order_position,extract, load) values ('Account','Salesforce','Salesforce Standard',null,1,0,1,1);\ninsert into [Audit].[mig_objects_list] (objectname , systemname , category, sql, enabled, order_position,extract, load) values ('Contact','Salesforce','Salesforce Standard',null,1,0,1,1);\ninsert into [Audit].[mig_objects_list] (objectname , systemname , category, sql, enabled, order_position,extract, load) values ('Lead','Salesforce','Salesforce Standard',\n'\nselect\nl.LastName,\nl.FirstName,\nl.Salutation,\nl.Title,\nl.Company,\nl.Street,\nl.City,\nl.State,\nl.PostalCode,\nl.Country,\nl.Latitude,\nl.Longitude,\nl.GeocodeAccuracy,\nl.Phone,\nl.MobilePhone,\nl.Fax,\nl.Email,\nl.Website,\nl.Description,\nl.LeadSource,\nl.Status,\nl.Industry,\nl.Rating,\nl.AnnualRevenue,\nl.NumberOfEmployees,\nl.HasOptedOutOfEmail,\nl.IsConverted,\nl.ConvertedDate, \ncase \n\twhen l.IsConverted =1 \n\tthen (select m.Id from audit.mig_mapIDs m where m.LegacyId__c = l.ConvertedAccountId and m.objectname=''Account'') \nend ConvertedAccountId,\ncase \n\twhen l.IsConverted =1 \n\tthen (select m.PersonContactId from audit.mig_mapIDs m where m.LegacyId__c = l.ConvertedAccountId and m.objectname=''Account'') \nend ConvertedContactId,\nl.IsUnreadByOwner,\nDATETRUNC(day, CONVERT(DATETIME, l.CreatedDate)) as CreatedDate,\nl.LastModifiedDate,\nl.DoNotCall,\nl.HasOptedOutOfFax,\nl.smagicinteract__SMSOptOut__c,\nl.Unica_AddressLine1__c,\nl.Unica_AddressLine2__c,\nl.Unica_Base_ID__c,\nl.Unica_City__c,\nl.Unica_MDB_ID__c,\nl.Unica_ZipCode__c\nfrom SF_archive.Lead l\nwhere l.IsDeleted = 0 \nand (\n\texists (select 1 from [Audit].[mig_account_list] a where l.ConvertedAccountId = a.AccountId)\n\tor \n\tl.ConvertedAccountId is null\n)\n',1,0,1,1);\n\n---"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SF - proc_sf_sql_extract",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "SF - Create mig_object_list table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "CREATE OR ALTER PROCEDURE [SF_Archive].[proc_sf_sql_extract]\n    @ObjectName varchar(max)\nAS\nBEGIN\ndeclare @query varchar(max);\nset @query = (select top 1 sql from audit.mig_objects_list where objectname='' + @ObjectName + '' and enabled=1);\n\nexec (@query);\nEND"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SF - Create mig_mapIDs",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "DROP TABLE IF EXISTS [Audit].[mig_mapIDs];\nCREATE TABLE [Audit].[mig_mapIDs] (\n    objectname varchar(1000),\n    Id varchar(1000),\n    LegacyId__c varchar(1000),\n    PersonContactId varchar(1000),\n    insert_datetime datetime default GETDATE()\n);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SF - Create mig_account_list",
						"description": "Table holding list of accounts for migration. To be populated manually.",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseMIG",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='mig_account_list' and xtype='U')\n    CREATE TABLE [Audit].[mig_account_list] (\n        AccountId varchar(1000),\n        insert_datetime datetime default GETDATE()\n    )"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "0. pl - Initialization"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseMIG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_salesforce_simple_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy huge amount of data in bulk from database using external control table to store source table list with partitions for each table.\n\nWhen you want to migrate data from your Azure Synapse Analytics like Oracle server, Netezza server, Teradata server or SQL Server to Azure, you have to load huge amount of data from multiple tables in data sources. In most cases, data has to be further partitioned in each table so that you can load rows with multiple threads in parallel from single table.",
				"activities": [
					{
						"name": "GetObjectList",
						"description": "Lookup activity to retrieve the list of partitions stored in the external control table.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [objectname]\n  FROM [Audit].[mig_objects_list]\n  WHERE category='Salesforce settings' \n  AND enabled=1 and load=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sink_mig_stg_db",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "x",
									"SchemaName": "x"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachObject",
						"description": "ForEach activity to get the partition list from Lookup activity and then iterate each of them to Copy activity. ",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetObjectList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetObjectList').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "Salesforce - CopyOneObject",
									"description": "Copy activity to copy one object",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[SF_Archive].[ColsWithoutSystemCols]",
											"storedProcedureParameters": {
												"TableName": {
													"type": "String",
													"value": {
														"value": "@item().objectname",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SalesforceSink",
											"writeBatchSize": 5000,
											"writeBehavior": "insert"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "sink_mig_stg_db",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().objectname",
													"type": "Expression"
												},
												"SchemaName": "SF_Archive"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "TarSalesforceObject",
											"type": "DatasetReference",
											"parameters": {
												"SFObjectName": {
													"value": "@item().objectname",
													"type": "Expression"
												},
												"SFLinkedServiceURL": {
													"value": "@pipeline().parameters.URL",
													"type": "Expression"
												},
												"SFLinkedServiceUserName": {
													"value": "@pipeline().parameters.UserName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"URL": {
						"type": "string",
						"defaultValue": "https://falck-smp--test.sandbox.my.salesforce.com/"
					},
					"UserName": {
						"type": "string",
						"defaultValue": "azure.integration@falck.com.smp.test"
					}
				},
				"folder": {
					"name": "4. pl - salesforce load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sink_mig_stg_db')]",
				"[concat(variables('factoryId'), '/datasets/TarSalesforceObject')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_salesforce_sql_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "to load to SF based on sql stored in mig_objects_list table",
				"activities": [
					{
						"name": "GetObjectList",
						"description": "Lookup activity to retrieve the list of partitions stored in the external control table.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [objectname]\n  FROM [Audit].[mig_objects_list]\n  WHERE sql is not null and enabled=1 and load =1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sink_mig_stg_db",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "x",
									"SchemaName": "x"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachObject",
						"description": "ForEach activity to get the partition list from Lookup activity and then iterate each of them to Copy activity. ",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetObjectList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetObjectList').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "Salesforce - CopyOneObject",
									"description": "Copy activity to copy one object",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[SF_Archive].[proc_sf_sql_extract]",
											"storedProcedureParameters": {
												"ObjectName": {
													"type": "String",
													"value": {
														"value": "@item().objectname",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SalesforceSink",
											"writeBatchSize": 5000,
											"writeBehavior": "insert"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "sink_mig_stg_db",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().objectname",
													"type": "Expression"
												},
												"SchemaName": "SF_Archive"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "TarSalesforceObject",
											"type": "DatasetReference",
											"parameters": {
												"SFObjectName": {
													"value": "@item().objectname",
													"type": "Expression"
												},
												"SFLinkedServiceURL": {
													"value": "@pipeline().parameters.URL",
													"type": "Expression"
												},
												"SFLinkedServiceUserName": {
													"value": "@pipeline().parameters.UserName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"URL": {
						"type": "string",
						"defaultValue": "https://falck-smp--test.sandbox.my.salesforce.com/"
					},
					"UserName": {
						"type": "string",
						"defaultValue": "azure.integration@falck.com.smp.test"
					}
				},
				"folder": {
					"name": "4. pl - salesforce load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sink_mig_stg_db')]",
				"[concat(variables('factoryId'), '/datasets/TarSalesforceObject')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LegSalesforceObject')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leg_SalesforceTEST",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SFObjectName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ds - Salesforce"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().SFObjectName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Leg_SalesforceTEST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarSalesforceObject')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Tar_SalesforceTEST",
					"type": "LinkedServiceReference",
					"parameters": {
						"URL": {
							"value": "@dataset().SFLinkedServiceURL",
							"type": "Expression"
						},
						"UserName": {
							"value": "@dataset().SFLinkedServiceUserName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"SFObjectName": {
						"type": "string"
					},
					"SFLinkedServiceURL": {
						"type": "string"
					},
					"SFLinkedServiceUserName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ds - Salesforce"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().SFObjectName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Tar_SalesforceTEST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_aria_all_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ds - Azure Storage"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "aria-aws-copy-all"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_salesforce_extract')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ds - Azure Storage"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "salesforce-extract"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_salesforce_extract_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ds - Azure Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "salesforce-extract"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_aws_s3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AmazonS31",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ds - AWS"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "falck-migration"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AmazonS31')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_custom_folder_subfolders_files_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ds - Azure Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"container": "salesforce-extract"
					},
					"columnDelimiter": "|",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "api_queue_id",
						"type": "String"
					},
					{
						"name": "plan_instance_no",
						"type": "String"
					},
					{
						"name": "parent_plan_instance_no",
						"type": "String"
					},
					{
						"name": "plan_instance_cdid",
						"type": "String"
					},
					{
						"name": "acct_no",
						"type": "String"
					},
					{
						"name": "api_method_name",
						"type": "String"
					},
					{
						"name": "create_date",
						"type": "String"
					},
					{
						"name": "create_user",
						"type": "String"
					},
					{
						"name": "effective_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_main_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ds - Azure Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "falck-migration/falck-migration-reporting-raw",
						"container": "aria-aws-copy-all"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "api_queue_id",
						"type": "String"
					},
					{
						"name": "plan_instance_no",
						"type": "String"
					},
					{
						"name": "parent_plan_instance_no",
						"type": "String"
					},
					{
						"name": "plan_instance_cdid",
						"type": "String"
					},
					{
						"name": "acct_no",
						"type": "String"
					},
					{
						"name": "api_method_name",
						"type": "String"
					},
					{
						"name": "create_date",
						"type": "String"
					},
					{
						"name": "create_user",
						"type": "String"
					},
					{
						"name": "effective_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_main_folder_subfolders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ds - Azure Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@concat('falck-migration/falck-migration-reporting-raw/',dataset().FolderName)",
							"type": "Expression"
						},
						"container": "aria-aws-copy-all"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "api_queue_id",
						"type": "String"
					},
					{
						"name": "plan_instance_no",
						"type": "String"
					},
					{
						"name": "parent_plan_instance_no",
						"type": "String"
					},
					{
						"name": "plan_instance_cdid",
						"type": "String"
					},
					{
						"name": "acct_no",
						"type": "String"
					},
					{
						"name": "api_method_name",
						"type": "String"
					},
					{
						"name": "create_date",
						"type": "String"
					},
					{
						"name": "create_user",
						"type": "String"
					},
					{
						"name": "effective_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_main_folder_subfolders_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ds - Azure Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('falck-migration/falck-migration-reporting-raw/',dataset().FolderName)",
							"type": "Expression"
						},
						"container": "aria-aws-copy-all"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "api_queue_id",
						"type": "String"
					},
					{
						"name": "plan_instance_no",
						"type": "String"
					},
					{
						"name": "parent_plan_instance_no",
						"type": "String"
					},
					{
						"name": "plan_instance_cdid",
						"type": "String"
					},
					{
						"name": "acct_no",
						"type": "String"
					},
					{
						"name": "api_method_name",
						"type": "String"
					},
					{
						"name": "create_date",
						"type": "String"
					},
					{
						"name": "create_user",
						"type": "String"
					},
					{
						"name": "effective_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_mig_stg_db')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMIG",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"SchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ds - DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "client_no",
						"type": "nvarchar"
					},
					{
						"name": " acct_no",
						"type": "nvarchar"
					},
					{
						"name": " userid",
						"type": "nvarchar"
					},
					{
						"name": " password",
						"type": "nvarchar"
					},
					{
						"name": " plan_type",
						"type": "nvarchar"
					},
					{
						"name": " reg_code",
						"type": "nvarchar"
					},
					{
						"name": " plan_no",
						"type": "nvarchar"
					},
					{
						"name": " plan_date",
						"type": "nvarchar"
					},
					{
						"name": " first_name",
						"type": "nvarchar"
					},
					{
						"name": " last_name",
						"type": "nvarchar"
					},
					{
						"name": " mi",
						"type": "nvarchar"
					},
					{
						"name": " address1",
						"type": "nvarchar"
					},
					{
						"name": " address2",
						"type": "nvarchar"
					},
					{
						"name": " city",
						"type": "nvarchar"
					},
					{
						"name": " locality",
						"type": "nvarchar"
					},
					{
						"name": " state_prov",
						"type": "nvarchar"
					},
					{
						"name": " country",
						"type": "nvarchar"
					},
					{
						"name": " postal_code",
						"type": "nvarchar"
					},
					{
						"name": " ssn",
						"type": "nvarchar"
					},
					{
						"name": " phone_npa",
						"type": "nvarchar"
					},
					{
						"name": " phone_nxx",
						"type": "nvarchar"
					},
					{
						"name": " phone_suffix",
						"type": "nvarchar"
					},
					{
						"name": " phone_extension",
						"type": "nvarchar"
					},
					{
						"name": " phone_country_code",
						"type": "nvarchar"
					},
					{
						"name": " intl_phone",
						"type": "nvarchar"
					},
					{
						"name": " pay_method",
						"type": "nvarchar"
					},
					{
						"name": " notify_method",
						"type": "nvarchar"
					},
					{
						"name": " next_bill_date",
						"type": "nvarchar"
					},
					{
						"name": " bill_day",
						"type": "nvarchar"
					},
					{
						"name": " last_bill_date",
						"type": "nvarchar"
					},
					{
						"name": " last_bill_thru_date",
						"type": "nvarchar"
					},
					{
						"name": " status_cd",
						"type": "nvarchar"
					},
					{
						"name": " process_flag",
						"type": "nvarchar"
					},
					{
						"name": " lang_no",
						"type": "nvarchar"
					},
					{
						"name": " legacy",
						"type": "nvarchar"
					},
					{
						"name": " tax_id",
						"type": "nvarchar"
					},
					{
						"name": " senior_acct_no",
						"type": "nvarchar"
					},
					{
						"name": " carrier",
						"type": "nvarchar"
					},
					{
						"name": " comments",
						"type": "nvarchar"
					},
					{
						"name": " trans_id",
						"type": "nvarchar"
					},
					{
						"name": " origin_no",
						"type": "nvarchar"
					},
					{
						"name": " old_userid",
						"type": "nvarchar"
					},
					{
						"name": " old_acct_no",
						"type": "nvarchar"
					},
					{
						"name": " aup_no",
						"type": "nvarchar"
					},
					{
						"name": " created",
						"type": "nvarchar"
					},
					{
						"name": " update_user",
						"type": "nvarchar"
					},
					{
						"name": " update_date",
						"type": "nvarchar"
					},
					{
						"name": " client_acct_id",
						"type": "nvarchar"
					},
					{
						"name": " feature_mask",
						"type": "nvarchar"
					},
					{
						"name": " promo_cd",
						"type": "nvarchar"
					},
					{
						"name": " no_edit_ind",
						"type": "nvarchar"
					},
					{
						"name": " pop_no",
						"type": "nvarchar"
					},
					{
						"name": " alt_email",
						"type": "nvarchar"
					},
					{
						"name": " alt_homepage",
						"type": "nvarchar"
					},
					{
						"name": " reg_auth_result",
						"type": "nvarchar"
					},
					{
						"name": " status_date",
						"type": "nvarchar"
					},
					{
						"name": " status_degrade_date",
						"type": "nvarchar"
					},
					{
						"name": " secret_question_answer",
						"type": "nvarchar"
					},
					{
						"name": " test_acct_ind",
						"type": "nvarchar"
					},
					{
						"name": " company_name",
						"type": "nvarchar"
					},
					{
						"name": " resp_level_cd",
						"type": "nvarchar"
					},
					{
						"name": " senior_acct_date",
						"type": "nvarchar"
					},
					{
						"name": " inv_approval_req_ind",
						"type": "nvarchar"
					},
					{
						"name": " currency_cd",
						"type": "nvarchar"
					},
					{
						"name": " eu_notes",
						"type": "nvarchar"
					},
					{
						"name": " plan_type_no",
						"type": "nvarchar"
					},
					{
						"name": " plan_roll_override_ind",
						"type": "nvarchar"
					},
					{
						"name": " last_arrears_bill_thru_date",
						"type": "nvarchar"
					},
					{
						"name": " alt_msg_template_no",
						"type": "nvarchar"
					},
					{
						"name": " require_special_inv",
						"type": "nvarchar"
					},
					{
						"name": " date_to_suspend",
						"type": "nvarchar"
					},
					{
						"name": " alt_master_rate_sched_no",
						"type": "nvarchar"
					},
					{
						"name": " reg_load_seq",
						"type": "nvarchar"
					},
					{
						"name": " pop_phone_no",
						"type": "nvarchar"
					},
					{
						"name": " birthdate",
						"type": "nvarchar"
					},
					{
						"name": " cell_phone_npa",
						"type": "nvarchar"
					},
					{
						"name": " cell_phone_nxx",
						"type": "nvarchar"
					},
					{
						"name": " cell_phone_suffix",
						"type": "nvarchar"
					},
					{
						"name": " work_phone_npa",
						"type": "nvarchar"
					},
					{
						"name": " work_phone_nxx",
						"type": "nvarchar"
					},
					{
						"name": " work_phone_suffix",
						"type": "nvarchar"
					},
					{
						"name": " work_phone_extension",
						"type": "nvarchar"
					},
					{
						"name": " date_to_expire",
						"type": "nvarchar"
					},
					{
						"name": " created_by",
						"type": "nvarchar"
					},
					{
						"name": " display_userid",
						"type": "nvarchar"
					},
					{
						"name": " donation_plan_amount",
						"type": "nvarchar"
					},
					{
						"name": " reg_dad",
						"type": "nvarchar"
					},
					{
						"name": " dw_export_seq",
						"type": "nvarchar"
					},
					{
						"name": " fax_phone",
						"type": "nvarchar"
					},
					{
						"name": " salutation",
						"type": "nvarchar"
					},
					{
						"name": " job_title",
						"type": "nvarchar"
					},
					{
						"name": " intl_cell_phone",
						"type": "nvarchar"
					},
					{
						"name": " master_plan_recurring_factor",
						"type": "nvarchar"
					},
					{
						"name": " intl_work_phone",
						"type": "nvarchar"
					},
					{
						"name": " plan_assign_api_receipt_id",
						"type": "nvarchar"
					},
					{
						"name": " status_assign_api_receipt_id",
						"type": "nvarchar"
					},
					{
						"name": " acct_create_api_receipt_id",
						"type": "nvarchar"
					},
					{
						"name": " address_seq",
						"type": "nvarchar"
					},
					{
						"name": " taxpayer_id",
						"type": "nvarchar"
					},
					{
						"name": " last_recur_bill_date",
						"type": "nvarchar"
					},
					{
						"name": " last_usage_bill_date",
						"type": "nvarchar"
					},
					{
						"name": " max_seq_no",
						"type": "nvarchar"
					},
					{
						"name": " seq_func_group_no",
						"type": "nvarchar"
					},
					{
						"name": " address3",
						"type": "nvarchar"
					},
					{
						"name": " notify_tmplt_grp_seq_id",
						"type": "nvarchar"
					},
					{
						"name": " test_acct_date",
						"type": "nvarchar"
					},
					{
						"name": " acct_balance",
						"type": "nvarchar"
					},
					{
						"name": " acct_start_date",
						"type": "nvarchar"
					},
					{
						"name": " default_billing_group_no",
						"type": "nvarchar"
					},
					{
						"name": " acct_address_seq",
						"type": "nvarchar"
					},
					{
						"name": " inv_posting_method_cd",
						"type": "nvarchar"
					},
					{
						"name": " consumer_acct_ind",
						"type": "nvarchar"
					},
					{
						"name": " list_start_master_file",
						"type": "nvarchar"
					},
					{
						"name": " purchase_order_no",
						"type": "nvarchar"
					},
					{
						"name": " locale_no",
						"type": "nvarchar"
					},
					{
						"name": " legal_entity_no",
						"type": "nvarchar"
					},
					{
						"name": " perpetual_payment_balance",
						"type": "nvarchar"
					},
					{
						"name": " is_anonymized",
						"type": "nvarchar"
					},
					{
						"name": "filename",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().FileName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseMIG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AmazonS31')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "https://s3.amazonaws.com",
					"accessKeyId": "[parameters('AmazonS31_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "SecureString",
						"value": "[parameters('AmazonS31_secretAccessKey')]"
					},
					"authenticationType": "AccessKey"
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch1_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch1_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch1_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatch1_accessKey')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "migdevelopment",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseMIG')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabaseMIG_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Leg_SalesforceTEST')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('Leg_SalesforceTEST_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('Leg_SalesforceTEST_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Leg_SalesforceTEST_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('Leg_SalesforceTEST_securityToken')]"
					},
					"apiVersion": "59.0"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tar_SalesforceTEST')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"URL": {
						"type": "string"
					},
					"UserName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('Tar_SalesforceTEST_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('Tar_SalesforceTEST_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Tar_SalesforceTEST_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('Tar_SalesforceTEST_securityToken')]"
					},
					"apiVersion": "59.0"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}